*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: 0;	
}

/* BEGIN HEADER */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid seashell;
	height: 69px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
}

#logo {
	height: 50px;
	margin-left: 10px;
}

#nav {
	display: flex;
	justify-content: flex-end;

}

#nav a {
	padding: 15px;
	color: seashell;
	text-decoration: underline;
}

/* END HEADER */

#main {  /* MAIN BODY */
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 70px;
}

/* BEGIN MISSION SECTION */

#mission {
	display: flex;
	height: 700px;
	width: 1200px;
	align-items: center;
	background-image: url("../images/img-mission-background.jpg");
	background-repeat: no-repeat;
}

#missionText {
	text-align: center;
	width: 100%;
	background-color: black;
}

/* END MISSION SECTION */

/* BEGIN FEATURED TEA SECTION */

#featuredTea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1000px;
	padding-top: 75px;
	margin: auto;
}

#featuredTea h2 {
	margin-bottom: 0px;
}

#items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.teaItems {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teaItems img {
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
}

/* END FEATURED TEA SECTION */

/* BEGIN LOCATIONS SECTION */

#locations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 1200px;
	margin: auto;
	margin-top: 75px;
	background-image: url("../images/img-locations-background.jpg");
	padding-bottom: 50px;
}

#locationContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	opacity: 1;
}

.address h3 {
	margin-bottom: 30px;
}

.address span {
	margin-bottom: 30px;
}


/* END LOCATIONS SECTION */

/* BEGIN FOOTER SECTION */

#contactInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	margin: auto;
	height: 200px;
}

#contactInfo span {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: .85em;
}

#copyright {
	margin-left: 20px;
}

/* END FOOTER SECTION */